body {
    margin: 0;
    background-color: #0A1627;
    font-family: 'Work Sans', sans-serif;
    font-weight: 300;
}

.container {
    display:flex;
    /* justify-content:;  */
    /* position: relative; */

}

header {
    background: linear-gradient(90deg, #9dbde5 1%, #002d65 100%);
    text-align: center;
    border-bottom: 2px solid white;
    height: 100px;
    
}

header::after {
    content: '';
    display: table;
    clear: both;
    
}

.logo {
    margin: 20px 0 0 100px;
    float: left;
    border: 1px solid white;
    border-width:2px 2px 0 2px;

    position: absolute;
}

nav {
    float: right;
}

nav ul {
    margin-left: 950px;
    list-style: none;
}

nav li {
    display: inline-block;
    margin-left: 80px;
    padding-top: 25px;

    position: relative;
}

nav a {
    color: rgb(202, 205, 248);
    text-decoration: none;
    text-transform: uppercase;
    font-size: 30px;
}

nav a:hover {
    color: #7b7fa5;
}

nav a::before {
    content: '';
    display: block;
    height: 5px;
    width: 100%;
    background: #9694b3;

    position: absolute;
    top: 15px;
    width: 0%;

    transition: all ease-in-out 250ms;
}

nav a:hover::before {
    width: 100%
}